<h2><%= @cutomer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<div class="col-xs-4">
  <div class="form-group row">
<h4>会員ID</h4>
<div><%= @customer.id %></div>
 </div>

  <div class="form-group row">
<h4>氏名</h4>
<div><%= @customer.last_name %><%= @customer.first_name></div>
 </div>

  <div class="form-group row">
<h4>フリガナ</h4>
<div><%= @customer.last_name_kana %><%= @customer.first_name_kana></div>
 </div>

  <div class="form-group row">
<h4>郵便番号</h4>
<div><%= @customer.postal_code %></div>
 </div>

  <div class="form-group row">
<h4>住所</h4>
<div><%= @customer.address %></div>
 </div>

　<div class="form-group row">
<h4>電話番号</h4>
　<div><%= @customer.telephone_number %></div>
　</div>

　<div class="form-group row">
<h4>メールアドレス</h4>
  <div><%= @customer.email %></div>
  </div>

  <div class="form-group row">
   <h4>会員ステータス</h4>
   <div><% if @customer.is_active %>
    有効
    <% else %>
    退会
   </div>
  </div>

<div><%= button_to "変更を保存" , admin_item_path </div>

</div>