<h2>管理者ログイン</h2>

<div lcass="container">
  <%= form_with model: @admin,url: admin_session_path, local: true do |f| %>

  <div class="field row">
    <%= f.label :email,"メールアドレス", class: "col-sm-3" %><%= f.email_field :email,class: "col-sm-2", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field row">
    <%= f.label :password, "パスワード", class: "col-sm-3" %><%= f.password_field :password, class: "col-sm-2", autocomplete: "current-password" %>
  </div>

  <div class="actions row">
    <%= f.submit "Log in", class: "btn btn-primary col-sm-1 offset-sm-3" %>
  </div>

<% end %>

</div>
